@using Staj2.Controllers
@model PageItem
<div id="mdlForm" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="danger bigger">Silme işlemi</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                @Model.lstUrunlerIslem.FirstOrDefault().urunBaslik isimli ürünü silmek istediğinize emin misiniz?
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
            <i class="ace-icon fa fa-times"></i>
            Vazgeç
        </button>
        <a class="btn btn-danger" data-mode="UrunSilTamamla" data-data1="@Model.lstUrunlerIslem.FirstOrDefault().urunID">Sil</a>
    </div>



</div>
